body{
    padding-left: 50px;
    padding-right: 20px;
    background-color: #000000;
    color: #ffffff;
}
h1{
 color: #ff0000;
}
h2{
color: #8b0000;
} 
h3{
color: #ee4242;

}
#poster img{
    height:480px;
    width:280px;
}
