body{
    padding-left: 50px;
    padding-right: 20px;
    background-image: url(sangrento.jpg);
    color: #ffffff;
}
h1{
 color: #ff0000;
}
h2{
color: #ff2400;
} 
h3{
color: #ee4242;

}
#poster img{
    height:480px;
    width:280px;
}
